{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %}

{% block content %}
    <!-- Preloader -->
{#    <div class="preloader">#}
{#        <h2>DJ DESTRUCT 305</h2>#}
{#        <div class="preloader__img-wrapper">#}
{#            <img src="{% static 'main/images/main/menu_avatar.jpg' %}" alt="black male portrait">#}
{#        </div>#}
{#    </div>#}

    <!-- Header Section -->
    <header>
        <div class="container">
            <h1>LIVE TIktok DJ</h1>
            <p>
                Live, loud, and a little unexpected. DJ Destruct brings
                chill R&B vibes with a side of entertainment—straight
                from Miami’s neon-lit nights.
            </p>
            <div>
                <a href="{{ main_page_urls.hero_watch_tiktok }}" target="_blank">Watch on tiktok</a>
            </div>
            <div>
                <a href="{{ main_page_urls.general_booking }}" target="_blank">Book</a>
            </div>
        </div>
    </header>

    <!-- Main Content Section -->
    <main>
        <section>
            <h2>About Us</h2>
            <p>We are dedicated to providing top-quality services to our clients.</p>
        </section>

        <section>
            <h2>Our Services</h2>
            <ul>
                <li>Web Development</li>
                <li>App Development</li>
                <li>SEO Optimization</li>
            </ul>
        </section>
    </main>
{% endblock %}