:root {
    --main-primary: #F23038;
    --main-secondary: #2E22C2;
    --main-dark: #1C1819;
    --main-light: #FFFFFF;
    --supportive-one: #C6C2C2;
    --supportive-two: #8F3F42;
    --supportive-three: #8A82EE;
}

h1 {
    color: var(--main-primary);
}

.main-button {
    padding: 14px 23px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.section__text {
    font-size: 24px;
    line-height: 1.5;
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.preloader h2 {
    color: var(--main-light);
    font-size: 3rem;
    margin-bottom: 20px;
    transform: scale(1);
    opacity: 0;
}

.preloader__img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
    overflow: hidden;
}

.preloader__img-wrapper img {
    width: 100%;
    height: auto;
    transform: translateY(-100%);
}

/* Hero */
.navbar {
    transition: transform 0.4s ease-in-out;
}

.nav__container {
    padding-top: 40px;
    z-index: 3;
}

.nav__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero {
    position: relative;
    padding-top: 40px;
    margin-bottom: 150px;
    width: 100%;
    height: 100vh;
    background: url("../images/main/hero.jpg") center no-repeat;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1;
}

.hero__wrapper {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__content {
    position: relative;
    display: flex;
    z-index: 2;
}

.hero__music-content {
    max-width: 400px;
}

.hero__music-link {
    display: inline-block;
    color: var(--main-light);
    margin-bottom: 16px;
    opacity: 0;
    transform: translateX(-20px);
}

.hero__music-inside-link {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.hero__music-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__music-item {
    display: flex;
    align-items: center;
    color: var(--main-light);
    background-color: var(--main-dark);
    border-radius: 10px;
    padding: 16px 20px 16px 14px;
    transform: translateX(-40px);
    opacity: 0;
    clip-path: inset(100% 0 0 0);
    transition: background-color 0.2s ease-in-out;
}

.hero__music-img {
    margin-right: 12px;
}

p.hero__music-title {
    text-decoration: none;
    font-size: 14px;
    margin-right: auto;
}

.hero__music-item:hover {
    cursor: pointer;
    background-color: var(--main-primary);
}

.hero__title {
    font-size: clamp(4.5rem, 6vw, 8rem);
    letter-spacing: 2px;
    clip-path: inset(0 0 100% 0);
}

.hero__subtitle {
    padding-top: 12px;
    color: var(--main-primary);
    clip-path: inset(100% 0 0 0);
}

.hero__links {
    padding-top: 32px;
    display: flex;
    gap: 32px;
}

.hero__links a {
    color: var(--main-primary);
    text-transform: uppercase;
    font-weight: 600;
}

.hero__link-tiktok {
    opacity: 0;
    transform: translateY(-20px);
}

.hero__link-book {
    opacity: 0;
    transform: translateY(-20px);
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: var(--main-dark);
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    padding: 23px 20px;
    border-radius: 10px;
    background-color: var(--main-dark);
    clip-path: inset(0 0 100% 0);
    transition: fill .4s ease;
}

.socials path {
    transition: fill 0.4s ease;
}

.socials svg:hover path {
    transition: fill .4s ease;
    fill: var(--main-primary);
}

.social__item {
    display: block;
    width: 100%;
}

.header__menu-wrapper {
    padding: 13px 19px;
    border-radius: 10px;
    background-color: var(--main-dark);
    clip-path: inset(0 0 100% 0);
}

.header__menu {
    color: var(--main-primary);
    line-height: 1;
    position: relative;
    clip-path: inset(100% 0 0 0);
}

/* Menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1000;
    overflow: hidden;
}

.menu {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: radial-gradient(circle at 0% 30%, #f23038, #f8225e, #ab73e4, #8a82ee);
    z-index: 2;
    transition: background-position 0.3s ease-out;
}

.menu__content {
    display: flex;
    justify-content: start;
}

.menu__navigation {
    display: flex;
    flex-direction: column;
}

.menu__navigation li {
    opacity: 0;
    clip-path: inset(100% 0 0 0);
}

.menu__navigation h2 {
    font-size: 48px;
}

.menu__navigation a {
    text-decoration: none;
    display: inline-block;
}

.menu__avatar-wrapper {
    height: auto;
    overflow: hidden;
}

.menu__avatar {
    transform: scaleX(-1);
    display: inline-block;
    border-radius: 6px;
    height: auto;
    clip-path: inset(0 0 100% 0);
}

.menu__decor {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(10px);
    opacity: 0;
}

.menu__decor p {
    font-size: 12px;
}

.menu__decor-text {
    display: flex;
    justify-content: flex-end;
}

.menu__close {
    justify-self: flex-end;
    line-height: 1;
}

/* Live Stream */
.live-stream {
    padding-bottom: 150px;
}

.live-stream__title {
    color: var(--main-primary);
    margin-bottom: 12px;
}

.live-stream__subtitle {
    display: inline-block;
    max-width: 350px;
}

.live-stream__text {
    margin-bottom: 32px;
}

.live-stream__cards > div:first-child {
    margin-bottom: 32px;
}

.live-stream__card {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-dark);
    color: var(--main-primary);
    border-radius: 10px;
    padding: 30px;
    transform-origin: right top;
    clip-path: inset(0 0 100% 0);
    transition: color, background-color .4s ease-in-out;
}

.live-stream__card-title {
    font-size: 42px;
    line-height: 1.2;
    font-family: 'Inter', Arial, sans-serif;
    margin-bottom: 90px;
    transition: color .4s ease-in-out;
}

.live-stream__card-text {
    margin-bottom: 18px;
    transition: color .4s ease-in-out;
}

.card-right {
    display: flex;
    justify-content: flex-end;
}

.live-stream__image {
    max-width: none;
    border-radius: 10px;
    transform: scale(.5);
    transform-origin: right top;
    transition: transform .4s ease-in-out;
}

.live-stream__card:hover .live-stream__image {
    transform: scale(.7);
    transform-origin: right top;
    transition: transform .4s ease-in-out;
}

.live-stream__card:hover {
    color: var(--main-dark);
    background-color: var(--main-primary);
    transition: color, background-color .4s ease-in-out;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.live-stream__buttons {
    display: flex;
    gap: 24px;
}

.live-stream__card:hover .live-stream__cal {
    border: 1px solid var(--main-light);
    color: var(--main-light);
}

.live-stream__cal {
    display: inline-block;
    padding: 14px 23px;
    color: var(--main-primary);
    transition: color .2s ease-in-out;
    border: 1px solid var(--main-primary);
}

.live-stream__card:hover .live-stream__cal:hover {
    background-color: var(--main-secondary);
    color: var(--main-light);
    border: 1px solid var(--main-secondary);
    transition: color, background-color .2s ease-in-out;
}

.live-stream__offline {
    display: inline-block;
    cursor: not-allowed;
    color: var(--supportive-one);
    background-color: var(--supportive-two);
}

@media (max-width: 1200px) {
    /* Globals */
    .main-button {
        padding: 10px 19px;
        font-size: 16px;
    }

    /* Live stream */
    .live-stream__card-title {
        font-size: 32px;
    }
}

@media (max-width: 991.98px) {
    /* Hero */
    p.hero__music-title {
        font-size: 12px;
    }

    /* Menu */
    .menu__avatar {
        width: 150px;
    }

    /* Live stream */
    .live-stream__card {
        flex-direction: column-reverse;
    }

    .live-stream__card-title {
        margin-bottom: 32px;
    }

    .card-right {
        margin-bottom: 32px;
        justify-content: flex-start;
    }

    .live-stream__image {
        max-width: 150px;
        border-radius: 5px;
        transform: scale(1);
        transform-origin: left top;
        transition: none;
    }

    .live-stream__card:hover .live-stream__image {
        transform: scale(1);
        transform-origin: left top;
        transition: transform .4s ease-in-out;
    }
}

@media (max-width: 767.98px) {
    /* Hero */
    .hero::before {
        background-color: rgba(0, 0, 0, .3);
    }

    .hero__wrapper {
        flex-direction: column;
        justify-content: flex-end;
    }

    p.hero__music-title {
        font-size: 12px;
    }

    .hero__content-text {
        margin-top: 24px;
    }

     /* Menu */
    .menu__avatar {
        width: 150px;
    }

    .socials {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .social__mix-cloud {
        transform: rotate(90deg);
        display: inline-block;
    }

    .social__mix-cloud svg {
        height: 59px;
    }
}

@media (max-width: 575.98px) {
    /* Globals */
    .section__text {
        font-size: 20px;
        line-height: 1.5;
    }

    /* Hero */
    .hero {
        margin-bottom: 48px;
    }

    .header__menu {
        color: var(--main-primary);
    }

    .hero__wrapper {
        height: 80vh;
        padding: 0 12px;
    }

    .hero__music-section {
        display: none;
    }

    .hero__content h1 {
        font-size: 60px;
    }

    /* Menu */
    .menu {
        padding-bottom: 12px;
    }

    .menu__avatar-wrapper, .menu__avatar {
        display: none;
    }

    .menu__content {
        justify-content: space-between;
    }

    .menu__decor {
        padding-top: 62px;
    }

    /* Live stream */
    .live-stream__title {
        margin-bottom: 0;
    }

    .live-stream__subtitle {
        margin-bottom: 18px;
    }

    .live-stream__card-title {
        font-size: 24px;
        margin-bottom: 18px;
    }


}








