:root {
    --main-primary: #F23038;
    --main-secondary: #2E22C2;
    --main-dark: #1C1819;
    --main-light: #FFFFFF;
    --supportive-one: #E5E0E0;
    --supportive-two: #8F3F42;
    --supportive-three: #8A82EE;
}

h1 {
    color: var(--main-primary);
}

.main-button {
    text-align: center;
    padding: 14px 23px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.cta-btn {
    display: inline-block;
    opacity: 0;
    padding: 14px 23px;
    color: var(--main-light);
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--main-primary);
    transition: background-color .2s ease-in-out;
}

.cta-btn:hover {
    color: var(--main-primary);
    background-color: var(--main-light);
}

.main-button a {
    display: flex;
}

.section__text {
    font-size: 24px;
    line-height: 1.5;
}

.title__sticky-wrapper {
    align-items: start;
}

.title__sticky {
    position: sticky;
    top: 0;
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.preloader h2 {
    color: var(--main-light);
    font-size: 3rem;
    margin-bottom: 20px;
    transform: scale(1);
    opacity: 0;
}

.preloader__img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
    overflow: hidden;
}

.preloader__img-wrapper img {
    width: 100%;
    height: auto;
    transform: translateY(-100%);
}

/* Hero */
.navbar {
    transition: transform 0.4s ease-in-out;
}

.nav__container {
    padding-top: 40px;
    z-index: 3;
}

.nav__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero {
    position: relative;
    padding-top: 40px;
    margin-bottom: 150px;
    width: 100%;
    height: 100vh;
    background: url("../images/main/hero.jpg") center no-repeat;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1;
}

.hero__wrapper {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__content {
    position: relative;
    display: flex;
    z-index: 2;
}

.hero__music-content {
    max-width: 400px;
}

.hero__music-link {
    display: inline-block;
    color: var(--main-light);
    margin-bottom: 16px;
    opacity: 0;
    transform: translateX(-20px);
}

.hero__music-inside-link {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.hero__music-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__music-item {
    display: flex;
    align-items: center;
    color: var(--main-light);
    background-color: var(--main-dark);
    border-radius: 10px;
    padding: 16px 20px 16px 14px;
    transform: translateX(-40px);
    opacity: 0;
    clip-path: inset(100% 0 0 0);
    transition: background-color 0.2s ease-in-out;
}

.hero__music-img {
    margin-right: 12px;
}

p.hero__music-title {
    text-decoration: none;
    font-size: 14px;
    margin-right: auto;
}

.hero__music-item:hover {
    cursor: pointer;
    background-color: var(--main-primary);
}

.hero__title {
    font-size: clamp(4.5rem, 6vw, 8rem);
    letter-spacing: 2px;
    clip-path: inset(0 0 100% 0);
}

.hero__subtitle {
    padding-top: 12px;
    color: var(--main-primary);
    clip-path: inset(100% 0 0 0);
}

.hero__links {
    padding-top: 24px;
    display: flex;
    gap: 32px;
}

.hero__links a {
    text-transform: uppercase;
    font-weight: 600;
}

.hero__link-tiktok {
    opacity: 0;
    transform: translateY(-20px);
}

.hero__link-book {
    opacity: 0;
    transform: translateY(-20px);
}

.hero__link, .hero__icon {
    vertical-align: middle;
    display: inline-block;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: var(--main-dark);
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    padding: 17px;
    border-radius: 10px;
    background-color: var(--main-dark);
    clip-path: inset(0 0 100% 0);
    transition: fill .4s ease;
}

.socials path {
    transition: fill 0.4s ease;
}

.socials svg:hover path {
    transition: fill .4s ease;
    fill: var(--main-primary);
}

.social__item {
    display: block;
}

#social__youtube-wrapper {
    width: 24px;
}

.social__gumroad {
    width: 27px;
    height: 27px;
}

.social__gumroad svg path {
    fill: none;
    color: var(--supportive-one);

}

.social__gumroad svg:hover path {
    fill: none;
    transition: color .4s ease;
    color: #f23038;
}

.header__menu-wrapper {
    padding: 15px 19px;
    border-radius: 10px;
    background-color: var(--main-dark);
    clip-path: inset(0 0 100% 0);
}

.header__menu {
    color: var(--main-primary);
    line-height: 1;
    position: relative;
    clip-path: inset(100% 0 0 0);
}

/* Menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1000;
    overflow: hidden;
}

.menu {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: radial-gradient(circle at 0% 30%, #f23038, #f8225e, #ab73e4, #8a82ee);
    z-index: 2;
    transition: background-position 0.3s ease-out;

    /*pointer-events: none;*/
    /*visibility: hidden;*/
}

.menu.menu--visible {
    pointer-events: auto;
    visibility: visible;
}

.menu__content {
    display: flex;
    justify-content: start;
}

.menu__navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu__navigation li {
    opacity: 0;
    clip-path: inset(100% 0 0 0);
}

.menu__navigation h2 {
    font-size: 48px;
}

.menu__navigation a {
    text-decoration: none;
    display: inline-block;
}

.menu__avatar-wrapper {
    height: auto;
    overflow: hidden;
}

.menu__avatar {
    transform: scaleX(-1);
    display: inline-block;
    border-radius: 6px;
    height: auto;
    clip-path: inset(0 0 100% 0);
}

.menu__decor {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(10px);
    opacity: 0;
}

.menu__decor p {
    font-size: 12px;
}

.menu__decor-text {
    display: flex;
    justify-content: flex-end;
}

.menu__close {
    justify-self: flex-end;
    line-height: 1;
}

/* Live Stream */
.live-stream {
    margin-bottom: 75px;
}

.live-stream__title {
    color: var(--main-primary);
    margin-bottom: 12px;
}

.live-stream__subtitle {
    display: inline-block;
    max-width: 350px;
}

.live-stream__text {
    margin-bottom: 32px;
}

.live-stream__cards > div:first-child {
    margin-bottom: 32px;
}

.live-stream__card-wrapper {
    border-radius: 10px;
    padding: 30px;
    background-color: var(--main-dark);
    color: var(--main-primary);
    transform-origin: right top;
    clip-path: inset(0 0 100% 0);
    transition: color, background-color .4s ease-in-out;
}

.live-stream__card {
    display: flex;
    justify-content: space-between;
}

.live-stream__card-title {
    font-size: 42px;
    line-height: 1.2;
    font-family: 'Inter', Arial, sans-serif;
    transition: color .4s ease-in-out;
}

.live-stream__card-text {
    margin-bottom: 18px;
    transition: color .4s ease-in-out;
}

.card-right {
    display: flex;
    justify-content: flex-end;
}

.live-stream__image {
    max-width: none;
    max-height: 350px;
    border-radius: 10px;
    transform: scale(.5);
    transform-origin: right top;
    transition: transform .4s ease-in-out;
}

.live-stream__card-wrapper:hover .live-stream__image {
    transform: scale(.7);
    transform-origin: right top;
    transition: transform .4s ease-in-out;
}

.live-stream__card-wrapper:hover {
    color: var(--main-dark);
    background-color: var(--main-primary);
    transition: color, background-color .4s ease-in-out;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.live-stream__buttons {
    display: flex;
    gap: 24px;
}

.live-stream__card-wrapper:hover .live-stream__cal {
    border: 1px solid var(--main-light);
    color: var(--main-light);
}

.live-stream__card-wrapper:hover .live-stream__cal.live-stream__offline {
    border: none;
    color: var(--supportive-one);
}

.live-stream__cal {
    display: inline-block;
    padding: 14px 23px;
    transition: color .2s ease-in-out;
    border: 1px solid var(--main-primary);
}

.live-stream__card-wrapper:hover .live-stream__cal:hover {
    background-color: var(--main-light);
    color: var(--main-primary);
    border: 1px solid var(--main-light);
    transition: color, background-color .2s ease-in-out;
}

.live-stream__offline {
    pointer-events: none;
    color: var(--supportive-one);
    background-color: var(--supportive-two);
}

/* Slider text */
.slider-items {
    margin-bottom: 75px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    cursor: default;
}

.slider-row {
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    will-change: transform;
    scrollbar-width: none;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

.slider-item {
    padding: 0;

    position: relative;
    display: inline-block;

    font-size: 200px;
    font-weight: 700;
    font-family: 'Staatliches', Inter, sans-serif;
    line-height: 1;

    color: var(--main-primary);
    text-shadow: 5px -5px 0 var(--main-secondary);
    transition: text-shadow .2s ease-in-out;
    z-index: 1;
}

.text {
    padding: 12px 0;
    margin-right: 3rem;
}

/* Image Reveal */
.image-reveal {
    margin-bottom: 75px;
}

.image-reveal__slider {
    position: relative;
    width: 100%;
    height: 90vh;
    max-width: 1100px;
    margin: 0 auto;
}

.image-reveal__slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reveal__slide img {
    border-radius: 5px;
}

#image-reveal_1 {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#image-reveal_1 img {
    transform: rotate(-2deg);
}

#image-reveal_2 {
    position: absolute;
    z-index: 2;
    width: 0.01%;
}

#image-reveal_2 img {
    transform: rotate(2deg);
}

#image-reveal_3 {
    position: absolute;
    z-index: 3;
    width: 0.01%;
}

/* About */
.about {
    background-color: var(--main-dark);
    padding-top: 75px;
    padding-bottom: 75px
}

.about__header {
    display: flex;
    margin-bottom: 32px;
}

.about__main-content {
    margin-bottom: 32px;
}

.about__title {
    color: var(--main-primary);
}

.about__subtitle {
    color: var(--main-primary);
}

.about__sliding-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__sliding-text {
    height: 100%;
    position: relative;
}

.about__content-list {
    position: sticky;
    top: 18px;
    left: 0;
    margin-bottom: 24px;
}

.about__content-item {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about__content-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--border-width, 0%);
    height: 1px;
    background-color: var(--main-light);
    transition: width 0.3s ease;
}

.about__content-item:not(:last-child) {
    margin-bottom: 18px;
}

.about__content-item p {
    color: var(--supportive-one);
    margin-bottom: 8px;
}

.about__content-text p {
    margin-bottom: 24px;
    color: var(--main-primary);
}

.about-cta {
    text-align: center;
    width: 100%;
}

.about__content-img {
    position: relative;
    width: 100%;
    height: auto;
}

.about__content-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.about__music {
    width: calc(100% - 60px);
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
}

.about__music__avatar {
    margin-right: 18px;
}

.about__info-item:not(:last-child) {
    display: flex;
    margin-bottom: 32px;
}

.about__info-title {
    font-weight: 500;
    display: inline-block;
    font-size: 24px;
    line-height: 1.5;
    color: var(--supportive-one);
}

.about__info-subtitle {
    max-width: 500px;
    color: var(--supportive-one);
}

.about__info-text p {
    color: var(--supportive-one);
}

/* Music */
.music {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    overflow-x: visible;
}

.music-container {
    position: relative;
}

.music__avatar {
    position: absolute;
    top: 0;
    right: 0;
}

.music__image-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
}

.music__image-wrapper img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.music__slogan {
    padding: 14px;
    width: 190px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    border-radius: 10px;
    background-color: var(--main-primary);
    color: var(--main-light);
    transform: translate(-50%, -50%);
}

.music__top {
    overflow-x: auto;
    margin-bottom: 48px;
}

.music__title {
    color: var(--main-primary);
    margin-bottom: 12px;
}

.music__subtitle {
    font-size: 24px;
    line-height: 1.5;
}

.music__yt-title {
    color: var(--main-primary);
    margin-bottom: 18px;
}

.slider-overflow-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    position: relative;
}

.music__yt-slider {
    margin-bottom: 48px;
    overflow-x: auto;
    display: flex;
    -ms-overflow-style: none;
}

.music__yt-slider::-webkit-scrollbar {
    display: none;
}

.music__yt-slider ul {
    display: flex;
    gap: 24px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-right: 12px;
    scroll-behavior: smooth;
}

.music__yt-slider ul:active {
    cursor: grabbing;
}

.music__yt-slider-item {
    flex: 0 0 auto;
    width: 380px;
    height: 220px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.music__yt-card {
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

.music__yt-card img {
    border-radius: 5px;
    filter: grayscale(100%);
    transform: scale(1);
    transition: all 0.3s ease;
}

.music__yt-card:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.music__tracks-title {
    color: var(--main-primary);
    margin-bottom: 18px;
}

.music__tracks-item {
    display: flex;
    align-items: center;
    color: var(--main-light);
    background-color: var(--main-dark);
    border-radius: 10px;
    padding: 16px 20px 16px 14px;
    transform: translateX(-40px);
    opacity: 0;
    clip-path: inset(100% 0 0 0);
    transition: background-color 0.2s ease-in-out;
}

.music__tracks-item:not(:last-child) {
    margin-bottom: 18px;
}

.music__tracks-item:hover {
    cursor: pointer;
    background-color: var(--main-primary);
}

/* Shop */
.shop {
    position: relative;
    padding-top: 75px;
    background-color: var(--main-secondary);
}

.shop__no-items {
    color: var(--main-light);

}

.shop__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.shop__title {
    font-size: 120px;
    line-height: 1;
    color: var(--main-light);
    text-align: center;
    max-width: 600px;
    margin-bottom: 18px;
}

.shop__subtitle {
    color: var(--supportive-one);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    max-width: 500px;
}

.shop__wrapper {
    padding-bottom: 75px;
}

.shop__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;
    background-color: var(--supportive-one);
    padding: 30px;
    width: 100%;
    max-width: 450px;
    height: 350px;
    max-height: 100%;
}

.shop__item:hover {
    cursor: pointer;
}

.card.shop__item {
    border: none;
}

.shop__img-wrapper {
    width: 100%;
    overflow: hidden;
}

.shop__img-wrapper img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 100%;
    max-width: 200px;
    z-index: 2;
}

.shop__img-background {
    display: inline-block;
    background: url("../images/decor/red-round-small.png") center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease-in;
}

.shop__item:hover .shop__img-background {
    opacity: 1;
    transition: opacity .3s ease-out;
}

.shop__actions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop__deals {
    display: flex;
    align-items: start;
}

.shop__prod-title {
    font-size: 12px;
}

.shop__sale {
    text-transform: uppercase;
    padding: 15px 10px;
    border: 1px solid var(--main-primary);
    color: var(--main-primary);
    border-radius: 100%;
    font-size: 12px;
    font-weight: 700;
}

.shop__out-of-stock {
    text-transform: uppercase;
    color: var(--main-primary);
    font-size: 12px;
    font-weight: 700;
}

.shop__action-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__price {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.shop__price-discounted {
    font-size: 10px;
    text-decoration: line-through;
}

.shop__price-discount {
    color: var(--main-primary);
}

.shop__cta {
    display: inline-block;
    padding: 12px 18px;
    color: var(--main-light);
    background-color: var(--main-primary);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    z-index: 3;
}

.shop__cta-disable {
    position: revert;
    display: inline-block;
    padding: 12px 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    color: var(--supportive-one);
    background-color: var(--supportive-two);
    z-index: 3;
}

.shop__cta-disable:hover {
    cursor: not-allowed;
}

.shop__cta:hover {
    background-color: var(--main-secondary);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left, rgba(242, 48, 56, 0.5), transparent 20%),
    radial-gradient(circle at bottom right, rgba(242, 48, 56, 0.5), transparent 20%),
    rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.lightbox__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox.active {
    display: block;
}

.lightbox__img-wrapper {
    flex: 1 1 auto;
    max-height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.lightbox__img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnails img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.thumbnails img.active {
    border-color: var(--main-light);
}

.controls__prev {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 1000;
}

.controls__next {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 1000;
}

.controls__close {
    position: absolute;
    top: 60px;
    right: 60px;
    cursor: pointer;
    z-index: 1000;
}

.controls__prev:hover, .controls__next:hover, .controls__close:hover {
    cursor: pointer;
}

/* Accent text */
#accent-text {
    position: relative;
    margin: 0;
    padding: 0;
    height: 300px;
    overflow: hidden;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 300px;
}

.p5Canvas {
    width: 100vw;
    height: 300px;
    display: block;
}

.accent-text__wrapper {
    display: flex;
    justify-content: space-between;
}

/* Book */
.book {
    padding-top: 75px;
    padding-bottom: 75px;
}

.book .live-stream__subtitle {
    color: var(--supportive-one);
}

.book .section__text.live-stream__text {
    color: var(--supportive-one);
}

.book__cards {
    overflow-x: auto;
    -ms-overflow-style: none;
}

.book__cards::-webkit-scrollbar {
    display: none;
}

.book__cards-wrapper {
    display: flex;
    gap: 24px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-right: 300px;
    scroll-behavior: smooth;
}

.book__cards .book__cards-wrapper:active {
    cursor: grabbing;
}

.book__card {
    flex: 0 0 auto;
    padding: 30px;
    background-size: cover;
    border-radius: 5px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.book__card-private {
    background: url('../images/main/booking_poster_01.jpg') center no-repeat;
    background-size: cover;
}

.book__card-live {
    background: url('../images/main/booking_poster_02.jpg') center no-repeat;
    background-size: cover;
}

.book__card-private::after, .book__card-live::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: -1;
}

.book__card-title {
    font-size: 72px;
    color: var(--main-primary);
}

.book__hover-title {
    margin-bottom: 24px;
    font-size: 80px;
    line-height: 1;
    letter-spacing: .1rem;
    color: var(--main-primary);
}

.book__hover-content {
    display: flex;
    margin-bottom: 32px;
}

.book_information {
    margin-top: auto;
}

.book__hover-text p:first-child {
    margin-bottom: 18px;
}

.book__hover-link {
    line-height: 1.3;
    position: relative;
}

.book__hover-link a {
    color: var(--main-light);
    font-weight: 600;
    text-transform: uppercase;

    display: inline-flex;
    align-items: center;
    gap: 0.3em;
}

.book__hover-link svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;
    fill: currentColor;
}

.book__hover-img-wrapper {
    display: flex;
    justify-content: flex-end;
    filter: grayscale(100%);
}

.book__hover-img-wrapper img {
    max-width: 250px;
}

.book__info {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.book__info:not(:last-child) {
    margin-bottom: 18px;
}

.book__info:nth-child(4) {
    margin-bottom: 32px;
}

.book__cta {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.book__btn {
    opacity: 1;
}

.book__hover-content p {
    max-width: 180px;
    color: var(--supportive-one);
}

.book__info p,
.book__info span {
    display: inline-block;
    color: var(--main-light);
}

.book__info p {
    line-height: 1;
    font-size: 16px;
}


@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.shop__item:hover .shop__cta {
    animation: wiggle 0.5s ease;
}

/* Footer */
.footer {
    background-color: var(--main-secondary);
    padding-top: 75px;
    padding-bottom: 32px;
}

.footer__top p {
    color: var(--main-primary);
}

.footer__top p:first-child {
    pointer-events: none;
}

.footer__top p:last-child {
    pointer-events: none;
    text-align: right;
}

.footer__decoration {
    display: none;
}

.footer__img-wrapper {
    max-width: 460px;
    height: auto;;
}

.footer__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.socials__footer {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    transition: fill .4s ease;
}

.footer__social-item svg {
    width: 36px;
    height: 36px;
}

#footer__mix-cloud svg {
    width: 120px;
}

.footer__gum-road svg {
    width: 40px;
    height: 40px;
}

.socials__footer svg path {
    fill: var(--main-primary);
}

.footer__gum-road svg path {
    fill: none;
    color: #f23038;
}

.socials__footer svg:hover path {
    transition: fill .4s ease;
    fill: var(--supportive-one);
}

.footer__gum-road svg:hover path {
    fill: none;
    transition: color .4s ease;
    color: var(--supportive-one);
}

.social__item svg {
    width: 100%;
    height: 100%;
}

.footer__bottom {
    margin-top: 72px;
}

.footer__menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.footer__menu a {
    line-height: 1.3;
    display: inline-block;
    color: var(--main-primary);
    font-size: 18px;
}

.author {
    color: var(--main-primary);
    margin-top: 42px;
    font-size: 12px;
}

@media (max-width: 1200px) {
    /* Globals */
    .main-button {
        padding: 10px 19px;
        font-size: 16px;
    }

    /* Live stream */
    .live-stream__card-title {
        font-size: 32px;
    }
}

@media (max-width: 991.98px) {
    /* Globals */
    .main-button {
        font-size: 14px;
    }

    /* Hero */
    p.hero__music-title {
        font-size: 12px;
    }

    /* Menu */
    .menu__avatar {
        width: 150px;
    }

    /* Live stream */
    .live-stream__card {
        flex-direction: column-reverse;
    }

    .live-stream__card-title {
        margin-bottom: 32px;
    }

    .card-right {
        margin-bottom: 32px;
        justify-content: flex-start;
    }

    .live-stream__image {
        max-width: 150px;
        border-radius: 5px;
        transform: scale(1);
        transform-origin: left top;
        transition: none;
    }

    .live-stream__card-wrapper:hover .live-stream__image {
        transform: scale(1);
        transform-origin: left top;
        transition: transform .4s ease-in-out;
    }

    /* Shop */
    .shop__item {
        padding: 20px;
    }

    .lightbox__img-wrapper {
        max-width: 600px;
    }

    .shop__img-wrapper img {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    .shop__action-cta {
        align-items: start;
        flex-direction: column;
        gap: 12px;
    }

    .shop__cta {
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }

    /* Booking */
    .book__hover-title {
        margin-bottom: 18px;
        font-size: 42px;
    }

    /* Footer */
    .footer__social-item svg {
        width: 30px;
        height: 30px;
    }

    #footer__mix-cloud svg {
        width: 100px;
    }
}

@media (max-width: 767.98px) {
    /* Globals */
    .main-button {
        font-size: 16px;
    }

    .title__sticky {
        position: relative;
    }

    /* Hero */
    .hero::before {
        background-color: rgba(0, 0, 0, .3);
    }

    .hero__wrapper {
        flex-direction: column;
        justify-content: flex-end;
    }

    p.hero__music-title {
        font-size: 12px;
    }

    .hero__content-text {
        margin-top: 24px;
    }

    .hero__links {
        font-size: 24px;
        flex-direction: column;
        gap: 18px;
    }

    .arrow__icon {
        display: inline-block;
    }

    /* Menu */
    .menu__avatar {
        width: 150px;
    }

    .socials {
        padding: 15px;
    }

    .socials li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
    }

    .social__item {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .social__item svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    #social__youtube-wrapper {
        width: 30px;
    }

    .social__mix-cloud {
        width: 50px;
        height: 30px;
    }

    #social__mix-cloud-wrapper {
        width: 70px;
        height: 30px;
        align-items: baseline;
    }

    .social__mix-cloud {
        width: 70px;
    }

    .social__mix-cloud svg {
        width: 70px;
    }

    li.social__gumroad-wrapper {
        width: 31px;
        height: 31px;
    }

    /* Live stream */
    .live-stream__subtitle {
        margin-bottom: 24px;
    }

    /* Slider text */
    .slider-items {
        margin-bottom: 48px;
    }

    .text {
        margin-right: 2rem;
        padding: 6px 0;
        font-size: 100px;
        text-shadow: 4px -4px 0 var(--main-secondary);
    }

    /* Image Reveal */
    .image-reveal {
        margin-bottom: 48px;
    }

    .image-reveal__slider {
        height: 200vh;
    }

    .image-reveal__slide {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .image-reveal__slide img {
        height: 500px;
        object-fit: cover;
    }

    #image-reveal_1 {
        width: 100%;
        transform: rotate(0deg);
    }

    #image-reveal_1 img {
        transform: rotate(0deg);
        border-radius: 10px;
    }

    #image-reveal_2 {
        top: 40px;
    }

    #image-reveal_2,
    #image-reveal_3 {
        width: 100%;
        border-radius: 10px;
    }

    #image-reveal_3 {
        top: 80px;
    }

    #image-reveal_2 img,
    #image-reveal_3 img {
        width: 100%;
        transform: rotate(0deg);

    }

    /* About */
    .about {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .about__title {
        margin-bottom: 24px;
    }

    .about__main-content {
        flex-direction: column-reverse;
    }

    .about__content-img {
        margin-bottom: 24px;
    }

    .about__content-list {
        margin-bottom: 24px;
    }

    .about__content-text p {
        margin-bottom: 0;
    }

    .cta-btn {
        display: block;
        text-align: center;
    }

    /* Music */
    .music {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .music__avatar {
        display: none;
        right: 12px;
    }

    .music__image-wrapper {
        width: 80px;
        height: 80px;
    }

    .music__slogan {
        display: none;
    }

    .music__top {
        margin-bottom: 32px;
    }

    .music__yt-title {
        margin-bottom: 12px;
    }

    .music__subtitle {
        font-size: 20px;
        line-height: 1.5;
    }

    .music__yt-slider {
        margin-right: 0;
        margin-bottom: 32px;
    }

    .music__yt-slider ul {
        gap: 18px;
    }

    .music__yt-card img {
        filter: grayscale(0);
    }

    .music__tracks-title {
        margin-bottom: 12px;
    }

    /* Shop */
    .shop {
        padding-top: 48px;
    }

    .shop__wrapper {
        padding-bottom: 48px;
    }

    .shop__header {
        margin-bottom: 32px;
    }

    .shop__title {
        font-size: 80px;
        line-height: 1;
    }

    .shop__item {
        padding: 12px;
    }

    .shop__img-wrapper img {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        max-width: 150px;
    }

    .shop__discounts {
        display: flex;
        flex-direction: column;
    }

    .shop__sale {
        text-transform: uppercase;
        padding: 10px 5px;
        border: 1px solid var(--main-primary);
        color: var(--main-primary);
        border-radius: 100%;
        font-size: 10px;
        font-weight: 700;
    }

    .shop__price {
        font-size: 10px;
        font-weight: 700;
    }

    .shop__price-discount {
        font-size: 14px;
    }

    .shop__cta-disable {

    }

    .shop__cta {
        padding: 12px 18px;
        color: var(--main-light);
        background-color: var(--main-primary);
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 6px;
        transition: background-color 0.2s ease, transform 0.2s ease;
        z-index: 3;
    }

    .lightbox__img-wrapper {
        max-width: 300px;
    }

    .controls__prev {
        display: none;
    }

    .controls__next {
        display: none;
    }

    /* Book */
    .book {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .book__header {
        margin-bottom: 12px;
    }

    .book__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }

    .book__card-title {
        font-size: 42px;
    }

    .book__subtitle {
        margin-bottom: 18px;
    }

    .book__hover {
        padding: 20px;
    }

    .book__hover-content {
        margin-bottom: 18px;
    }

    .book__info:not(:last-child) {
        margin-bottom: 16px;
    }

    .book__info:nth-child(4) {
        margin-bottom: 24px;
    }

    .book__hover-img-wrapper img {
        display: inline-block;
        max-width: 100px;
        max-height: 150px;
    }

    /* Footer */
    .footer {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__top p {
        color: var(--main-primary);
    }

    .footer__top p:first-child {
        display: none;
    }

    .footer__top p:last-child {
        display: none;
    }

    .footer__img-wrapper {
        max-width: 100%;
    }

    .footer__decoration {
        display: block;
    }

    .socials__footer {
        max-width: 100%;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .socials__footer a svg {
        width: 30px;
        height: 30px;
    }

    #footer__youtube svg {
        width: 35px;
    }

    .socials__footer .footer__gum-road svg {
        width: 35px;
        height: 35px;
    }

    #footer__mix-cloud svg {
        display: inline-block;
        width: 100px;
    }

    .footer__bottom {
        margin-top: 48px;
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .footer__menu a {
        font-size: 48px;
    }

    .author {
        text-align: center;
        margin-top: 32px;
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    /* Globals */
    .main-button {
        font-size: 14px;
    }

    .section__text {
        font-size: 20px;
        line-height: 1.5;
    }

    /* Preloader */
    .preloader h2 {
        font-size: 2rem;
    }

    /* Hero */
    .hero {
        margin-bottom: 48px;
    }

    .header__menu {
        color: var(--main-primary);
    }

    .hero__wrapper {
        height: 90vh;
        padding: 0 12px;
    }

    .hero__music-section {
        display: none;
    }

    .hero__content h1 {
        font-size: 60px;
    }

    /* Menu */
    .menu {
        padding-bottom: 12px;
    }

    .menu__avatar-wrapper, .menu__avatar {
        display: none;
    }

    .menu__content {
        justify-content: space-between;
    }

    .menu__decor {
        padding-top: 62px;
    }

    /* Live stream */
    .live-stream {
        margin-bottom: 48px;
    }

    .live-stream__title {
        margin-bottom: 0;
    }

    .live-stream__card-title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .live-stream__buttons {
        flex-wrap: wrap;
    }

    /* Slider text */
    .slider__wrapper {
        margin-bottom: 48px;
    }

    .slider p {
        font-size: 120px;
    }

    /* About */
    .music__avatar {
        display: block;
    }
}

@media (max-width: 420px) {
    .music__avatar {
        position: relative;
        right: 0;
        margin-bottom: 12px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .music__yt-slider {
        transition: margin-right 0.3s ease;
    }

    .book__cards {
        transition: margin-right 0.3s ease;
    }
}








