/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Staatliches&display=swap');

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Remove Default Margins and Padding */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, img, embed, footer, header,
menu, nav, section, audio, video, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 Display Settings */
footer, header, menu, nav, section, main {
    display: block;
}

main {
    /*position: relative;*/
}

/* Set Base Line Height */
body {
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: var(--supportive-one);
}

/* Hides scrollbar in Chrome, Edge, Safari */
body::-webkit-scrollbar {
    display: none;
}

/* Global font styles */
h1, h2, h3 {
    font-family: 'Staatliches', 'Courier New', cursive;
    font-weight: 700;
}

h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: .2rem;
}

h2 {
    font-size: 80px;
    line-height: 1;
    letter-spacing: .1rem;
}

h3 {
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: .1rem;
}

.font__display {
    font-size: 48px;
    line-height: 1.2;
}

.font__display_second {
    font-size: 24px;
    line-height: 1.5;
}

/* List Style Reset */
ol, ul {
    list-style: none;
}

/* Link Reset */
a {
    text-decoration: underline;
    color: inherit;
    background-color: transparent;
    line-height: 1;
}

.link__reset {
    position: relative;
    text-decoration: none;
}

/* Button Reset */
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    appearance: none;
}

button {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
}

/* Image Reset */
img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

/* Link styles */
.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0) scaleY(1);
    height: 0.1em;
    bottom: -1px;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
    z-index: 3;
}

.link:hover {
    cursor: pointer;
}

.link:hover::after {
    transform: scaleX(1) scaleY(1);
    transform-origin: bottom left;
    z-index: 3;
}

@media (max-width: 767.98px) {
    h1 {
        letter-spacing: .05rem;
    }

    h2 {
        letter-spacing: .01rem;
    }

    h3 {
        letter-spacing: .01rem;
    }
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 42px;
    }
}

